{% extends "pages/base_index.html" %}
{% load static %}

{% block meta_tags %}
	<title>Product list PI Zjazd 2</title>
{% endblock %}

{% block content %}



<figure class="text-center my-4">
  <blockquote class="blockquote">
    <h2>Lista produktów</h2>
  </blockquote>
</figure>
<div class="container text-center">
  <div id="AddNewProductForm" class="row justify-content-center d-flex" >
    <form style="max-width: 700px;">
      <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Produkt:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
  </div>
</div>

{% for product in products%}
<div class="container text-center">
  <div id="MainProductList" class="row justify-content-center d-flex">
   	<div class="card mb-3" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
              <div class="row">
                <div class="col-6">
                  <input type="checkbox" class="" id="btncheck1" autocomplete="off" {% if product.buyed == True %} checked="checked"{% endif %}>
                  <label class="" for="btncheck1" >Kupione</label>
                </div>
                <div class="col-6">
                  <a href="{% url 'pages:delete_product'  product.id %}">
                    <button type="submit" class="btn btn-danger" >Usuń</button>
                </a>
                </div>


              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}