{% extends "pages/base_index.html" %}
{% load static %}

{% block meta_tags %}
	<title>ADA Web App</title>
{% endblock %}

{% block content %}

<div id="AddNewImage" class="mx-auto my-3" style="max-width: 500px;">
	<form method="post" action="" enctype="multipart/form-data">
    	{% csrf_token %}
		{{ new_image_form }}
    	<input type="submit" value="Save" class="btn btn-primary">
	</form>
</div>

<div class="container mx-auto" id="ImageContainer" style="max-width: 730px;">
	{% for image_url in CDN_URLs_list %}
		<img src="{{image_url}}" alt="Image" class="rounded img-fluid mx-auto my-3" style=" width: 100%;">
		<div>
			<form method="post" action="delete_image">
				{% csrf_token %}
				<input id="" type="hidden" name="image_url" value="{{ image_url }}">
				<input class="btn btn-danger" type="submit" value="Delete">
			</form>
		</div>
	{% endfor %}
</div>



{% endblock %}